
@font-face {
    font-family: "HK Grotesk Web";
    font-weight: 200;
    src: url("../fonts/hkgrotesk-light-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-light-webfont.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk Web";
    font-weight: 400;
    src: url("../fonts/hkgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk Web";
    font-weight: 600;
    src: url("../fonts/hkgrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-medium-webfont.woff") format("woff");
}

* {
    box-sizing: border-box;
    border-bottom-color: #ebecec;
    padding-top: 0.0001em;
    padding-bottom: 0.1em;
}

.bodyHome {
    margin-left: auto;
    margin-right: auto;
    padding-top: 102.5px;
    padding-bottom: 150px;
    max-width: 56em;
    text-align: center;
}

    .bodyHome h1 {
        color: black;
        background-color: lightgrey;
        font-size: 3em;
        font-family: 'HK Grotesk Web';
    }

.dropdown {
    position: relative;
    display: inline-block;
    color: #797e83;
    align: center;
}


.dropdown-content {
    text-align: left;
    overflow: visible;
    display: none;
    position: absolute;
    background-color: #E5E5E5;
    color: black;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.second-level-menu:hover {
    color: #FFFFFF;
}


.dropdown-menu-center {
    min-width: 100px;
    padding: 2px 7px 2px 7px;
}


.nav__item--current a, .nav__item a {
    font-weight: 300;
    text-align: center;
    font-size: 1.125em;
    display: block;
    padding: 0.4em;
    border-bottom: 1px solid transparent;
}


    .nav__item--current a, .nav__item a:hover {
        color: #0b0b0b;
        border-color: #52bab3;
    }


.navbar {
    position: relative;
    text-align: center;
    margin-top: 20px;
}


.nav {
    margin-top: 1.25em;
    margin-bottom: 1.875em;
}


.nav__item a {
    color: #797e83;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    color: #797e83;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    argin: 0;
}


a {
    color: #656a6e;
    text-decoration: none;
    font-weight: 400;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
