// Imports
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
// Variables

@offwhiteBackground: #F6F6F6;
@listBackground: #EEEEEE;
@hoverBackground: #D6D6D6;

@MPadding: 20px;
@SPadding:15px;

@Orange: #EE6726;
@iconGrey: #515151;

@font: "Roboto", sans-serif;   
// 'Inter UI', sans-serif;

// Reset

html, body {
    padding: 0;
    margin: 0;
    font-family: @font; 
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

// Base objects

body {
    background: #e0e0e0;
    background-image: url("/Images/LogoBlurred100dpi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

// Sidebar

.sidebar {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 300px;
    background-color: @offwhiteBackground;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;

    .logo .image {
        height: 260px;
        width: 260px;
        padding: 20px;
    }

    .list {
        margin-top: @MPadding;
        margin-left: @MPadding;
        border-left: 3px solid @iconGrey;

        &:hover {
            border-color: @Orange;
        }

        .collapsible {
            background-color: @offwhiteBackground;
            border: none;
            display: inline-block;
            height: 40px;
            width: 277px;
            text-align: left;
            font-family: inherit;
            font-size: 15px;
            line-height: 1.5;
            padding: 0;
            padding-left: 3px;
            cursor: pointer;
        }

        .active {
            background-color: @listBackground;
        }

        .active, .collapsible:hover {
            padding-left: @SPadding;
            background-color: @hoverBackground;
            color: @Orange;
        }

        p {
            height: 40px;
            margin: 0;
            display: flex;
            align-items: center;
            padding-left: 3px;

            a {
                width: 100%;
                color: black;
                text-decoration: none;
                padding: 8.75px 0;
            }

            &:hover {
                text-indent: @SPadding;
                background-color: @hoverBackground;

                a {
                    color: @Orange;
                }
            }
        }

        .content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: @listBackground;
            padding-left: @SPadding;
        }
    }

    &::content {
        padding-left: 20px;
    }
}

.bottom {
    padding: @MPadding;
    width: 260px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;

    i {
        color: @iconGrey;
        float: left;
        font-size: 30px;

        &:hover {
            color: @Orange;
        }
    }
}

// Form

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    .input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .button {
        font-family: @font;
        text-transform: uppercase;
        outline: 0;
        background: #EE6726;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;

        &:hover, .form button:active, .form button:focus {
            background: #C95720;
        }
    }

    .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;

        a {
            color: #DE6023;
            text-decoration: none;
        }
    }

    .register-form {
        display: block;
    }

    .error {
        margin: 15px 0 0;
        font-size: 12px;
        color: #DE6023;
        text-decoration: none;
    }
}

// Login form

.login-page {
    font-family: @font;
    width: 360px;
    padding: 8% 0 0;
    margin: auto;

    .form {
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
    }
}

// Account form

.edit {

    .form {
        padding: 30px 45px;

        h1 {
            margin-bottom: 20px;
        }

        .label {
            cursor: default;
            font-family: @font;
            outline: 0;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 0 5px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .buttonLeft {
            font-family: @font;
            text-transform: uppercase;
            outline: 0;
            background: #EE6726;
            width: 48%;
            float: left;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            margin-bottom: 15px;
        }

        .buttonRight {
            font-family: @font;
            text-transform: uppercase;
            outline: 0;
            background: #EE6726;
            width: 48%;
            float: right;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            margin-bottom: 15px;
        }

        .linkButton {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
            color: #DE6023;
            text-decoration: none;
        }
    }
}

// View form

.view-page {
    .form {
        max-width: 100%;
        margin: 30px;
        padding: @MPadding;
        background-color: @offwhiteBackground;

        h2 {
            display: flex;
            align-self: flex-start;
            margin-top: 15px;
            margin-bottom: 0;
            text-decoration: none;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 0 0 20px 0;
            padding: 0;
        }
    }
}

// Home form

.home-page {
    .form {
        max-width: 100%;
        margin: 30px;
        padding: @MPadding;
        background-color: @offwhiteBackground;

        h2 {
            display: flex;
            align-self: flex-start;
            margin-top: 15px;
            margin-bottom: 0;
            text-decoration: none;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 0 0 20px 0;
            padding: 0;
        }

        .resultTable {
            border-collapse: collapse;
            border-color: white;
            border: hidden;
            width: 100%;
            overflow: hidden;

            .textRow {
                h3 {
                    text-align: left;
                }
            }

            .gvRow {
            }
        }
    }
}

// Modal
.modal {

    .modal-dialog {
        width: 360px;
        margin-top: 150px;

        .modal-content {
            background: none;
            border: none;

            .modal-header {
                border: none;
            }

            .modal-body {
                border: none;
                padding: 0;
                height: auto;

                .login-page {
                    padding-top:0;

                    .edit {
                        display: block;

                        .form {
                            margin: 0;
                        }
                    }
                }
            }

            .modal-footer {
                border: none;
            }
        }
    }
}







/*
// Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

// Actual modal
.modal-content {
    position: relative;
    background-color: gray;
    border: 1px solid gray; //old browsers fallback (ie8 etc)
    border: 1px solid gray;
    border-radius: 15px;
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(117, 117, 117, 0.80);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: 50px;
    border-bottom: 1px solid gray;
    &:extend(.clearfix all);
}
// Close icon
.modal-header .close {
    margin-top: -2px;
}

// Title text within header
.modal-title {
    margin: 0;
    line-height: 15px;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: 20px;
}

// Footer (for actions)
.modal-footer {
    padding: 20px;
    text-align: right; // right align buttons
    border-top: 1px solid gray;

    // Properly space out buttons
    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-left: 0;
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
*/

// GridView

.gv {
    width: 100%;
    border: 1px solid #b4b4b4;

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: white;
        border: 1px solid #b4b4b4;

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }

    td {
        border: 1px solid #b4b4b4;
        border-bottom: none;
        border-top: none;

        a {
            text-decoration: none;
            font-weight: bold;
            color: @iconGrey;

            &:hover{
                color:@Orange;
            }
        }
    }

    .tdlb {
        padding: 0;

        .lb {
            width: 100%;
            max-height: 60px;
            padding-left: 10px;
            margin: 0;
            vertical-align: middle;
            border: none;
        }
    }

    tr {
        &:hover td {
            background-color: rgba(238, 103, 38, 0.75);
        }

        &hover .tdlb .lb {
            background-color: rgba(238, 103, 38, 0.75);
        }

        &:nth-child(even) {
            background-color: #eaeaea;

            .lb {
                background-color: #eaeaea;
            }
        }

        &:nth-child(odd) {
            background-color: #ffffff;

            .lb {
                background-color: #ffffff;
            }
        }
    }
}

// Footer
